# This action helps run Playwright tests within one of the build_* stages.
on:
    workflow_call:
        inputs:
            runs-on:
                type: string
                required: true
                description: "The runner image to use"
            artifact:
                type: string
                required: true
                description: "The name of the artifact to download"
            project:
                type: string
                required: true
                description: "The Playwright project to use for testing"
            executable:
                type: string
                required: true
                description: "Path to the executable to test"
            prepare_cmd:
                type: string
                required: false
                description: "Command to run to prepare the executable or environment for testing"
            blob_report:
                type: boolean
                default: false
                description: "Whether to upload a blob report instead of the HTML report"
            args:
                type: string
                required: false
                description: "Additional arguments to pass to playwright, for e.g. skipping specific tests"
permissions: {}
jobs:
    test:
        name: Test ${{ inputs.project }}
        runs-on: ${{ inputs.runs-on }}
        steps:
            - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
              with:
                  repository: ${{ github.repository == 'element-hq/element-web-pro' && 'element-hq/element-desktop' || github.repository }}

            # https://github.com/actions/setup-node/issues/480#issuecomment-2907867335
            - run: npm install -g corepack@0.34.5 --force
              if: runner.os == 'Windows'
            - run: corepack enable
            - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
              with:
                  node-version-file: .node-version
                  cache: "yarn"

            - name: Install Deps
              run: "yarn install --frozen-lockfile"

            - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
              with:
                  name: ${{ inputs.artifact }}
                  path: dist

            - name: Prepare for tests
              run: ${{ inputs.prepare_cmd }}
              if: inputs.prepare_cmd

            - name: Expand executable path
              id: executable
              shell: bash
              env:
                  EXECUTABLE: ${{ inputs.executable }}
              run: |
                  FILES=($EXECUTABLE)
                  echo "path=${FILES[0]}" >> $GITHUB_OUTPUT

            # We previously disabled the `EnableNodeCliInspectArguments` fuse, but Playwright requires
            # it to be enabled to test Electron apps, so turn it back on.
            - name: Set EnableNodeCliInspectArguments fuse enabled
              run: $RUN_AS npx @electron/fuses write --app "$EXECUTABLE" EnableNodeCliInspectArguments=on
              shell: bash
              env:
                  # We need sudo on Linux as it is installed in /opt/
                  RUN_AS: ${{ runner.os == 'Linux' && 'sudo' || '' }}
                  EXECUTABLE: ${{ steps.executable.outputs.path }}

            - name: Run tests
              uses: coactions/setup-xvfb@6b00cf1889f4e1d5a48635647013c0508128ee1a
              timeout-minutes: 20
              with:
                  run: yarn test --project=${{ inputs.project }} ${{ runner.os != 'Linux' && '--ignore-snapshots' || '' }} ${{ inputs.blob_report == false && '--reporter=html' || '' }} ${{ inputs.args }}
              env:
                  ELEMENT_DESKTOP_EXECUTABLE: ${{ steps.executable.outputs.path }}

            - name: Upload blob report
              if: always() && inputs.blob_report
              uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
              with:
                  name: blob-report-${{ inputs.artifact }}
                  path: blob-report
                  retention-days: 1

            - name: Upload HTML report
              if: always() && inputs.blob_report == false
              uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
              with:
                  name: ${{ inputs.artifact }}-test
                  path: playwright-report
                  retention-days: 14
