name: Dockerbuild
on:
    workflow_dispatch: {}
    push:
        branches: [master, staging, develop]
        paths:
            - "dockerbuild/**"
    pull_request:
concurrency: ${{ github.workflow }}-${{ github.ref_name }}
env:
    REGISTRY: ghcr.io
    IMAGE_NAME: ${{ github.repository }}-dockerbuild
permissions: {}
jobs:
    build:
        name: Docker Build
        runs-on: ubuntu-24.04
        permissions:
            contents: read
            packages: write
        steps:
            - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

            - name: Set up QEMU
              uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
              with:
                  install: true

            - name: Build test image
              uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
              with:
                  file: dockerbuild/Dockerfile
                  push: false
                  load: true
                  tags: element-desktop-dockerbuild
                  platforms: linux/amd64

            - name: Test image
              run: docker run -v $PWD:/project element-desktop-dockerbuild yarn install

            - name: Log in to the Container registry
              uses: docker/login-action@6862ffc5ab2cdb4405cf318a62a6f4c066e2298b
              if: github.event_name != 'pull_request'
              with:
                  registry: ${{ env.REGISTRY }}
                  username: ${{ github.actor }}
                  password: ${{ secrets.GITHUB_TOKEN }}

            - name: Extract metadata for Docker
              id: meta
              if: github.event_name != 'pull_request'
              uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
              with:
                  images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
                  tags: |
                      type=ref,event=branch
                      type=ref,event=pr

            - name: Build and push Docker image
              if: github.event_name != 'pull_request'
              uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
              with:
                  file: dockerbuild/Dockerfile
                  push: true
                  tags: ${{ steps.meta.outputs.tags }}
                  labels: ${{ steps.meta.outputs.labels }}
                  platforms: linux/amd64,linux/arm64
